{{ define "product" }}
    {{ template "header" . }}

    <main role="main">
        <div class="py-5">
            <div class="container bg-light py-3 px-lg-5 py-lg-5">
                <div class="row">
                    <div class="col-12 col-lg-5">
                            <img class="img-fluid border" style="width: 100%;"
                            src="{{$.product.Item.Picture}}" />
                    </div>
                    <div class="col-12 col-lg-7">
                            <h2>{{$.product.Item.Name}}</h2>
                                    <!-- Stars in Product Page -->
                                    <p class="text-muted float-left">
                                        {{ renderMoney $.product.Price}}
                                        <div class="text-right">
                                            {{ template "rating" . }}
                                        </div>    
                                    </p>       
                            <hr/>
                            <p>
                                <h6>Product Description:</h6>
                                {{$.product.Item.Description}}
                            </p>
                            <hr/>

                            <form method="POST" action="/cart" class="form-inline text-muted">
                                <input type="hidden" name="product_id" value="{{$.product.Item.Id}}"/>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="quantity">Quantity</label>
                                    </div>
                                    <select name="quantity" id="quantity" class="custom-select form-control form-control-lg">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>10</option>
                                    </select>
                                    <button type="submit" class="btn btn-info btn-lg ml-3">Add to Cart</button>
                                </div>
                            </form>
                    </div>
                </div>
                
                {{ if $.recommendations}}
                    <hr/>
                    {{ template "recommendations" $.recommendations }}
                {{ end }}
                
                {{ with $.ad }}{{ template "text_ad" . }}{{ end}}
                <hr/>

                <form method="POST" action="/product" class="form-inline text-muted">
                    <input type="hidden" name="product_id" value="{{$.product.Item.Id}}"/>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="rating">Rating</label>
                        </div>
                        <select name="rating" id="rating" class="custom-select form-control form-control-lg">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <button type="submit" class="btn btn-info btn-lg ml-3">Rate Product</button>
                    </div>
                    <div class="form-row">
                        <div class="col-md-5 mb-3">
                                <label for="name">Name</label>
                                <input type="name" class="form-control" id="name"
                                    name="email" value="your name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                </form>

            </div>
        </div>
    
    </main>
    {{ template "footer" . }}
{{ end }}
